.container{
    margin-top:95px;
    margin-left: 120px;
    margin-right: 120px;
    color:#3A3A3A;
    font-family: 'Poppins';
}
    h1{
        font-family: 'poppins';
        font-weight: bold;
        width: 582px;
        margin-bottom: 0;
    }
    h3{
        font-size: 24px;
        margin-top:5px;
        color: ;
    }

p{
    font-family: 'poppins';
    font-weight: lighter;
    font-size: 16px;
    margin:0%;

}
button{
    color:white;
    background-color: orange;
    border-radius: 10px;
    width: 166px;
    border:solid orange;
}
header{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
h2{
    margin:0;
    font-size: 24px;
}
.right-header{
    font-size: 16px;   
    display:flex;
    align-items: center;
    justify-content: space-between;
    }
.nav-list{
    display:flex;
    list-style:none;
    align-items: center;
    
}
nav ul li a{
    text-decoration: none;
    display: flex;
    margin-left:34px;
}
.font{
    color:black;
    font-size: 12px;
}
.fa-solid  {
    margin-left:34px;
}


/*--- first section----*/
.upper-site{
    display:flex;
    justify-content: space-between;
}
.sec-header{
    margin-top: 127px;
    font-size:52px;


}
.upper-p{
    width: 455px;
    margin-top:25px;
    margin-bottom: 7.5px;
}
.image-1{
    width: 440px;
    height: 414px;
}

/*---2nd-dectin---*/

.logo-section{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
.logo-section img{
    width:84px;
    height:39px;
    margin-right: 60.42px;
    justify-content: center;
}
.alibaba{
    width:100px;
    margin-right: 45.42px;
}

/*---3rd section---*/

#buy-more{
    text-align: center;margin-bottom: 43px;
}

.products{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin-right: 0;

}
.box{
    width:300px;
    align-items: center;
    margin-top: 17px;
    margin-left: 14px;


}
.product{
    width: 329px;
    height: 476px;
    box-shadow:1px .01px 2px 2px #AAAAAA;

}
.product img{
    width: 300px;
    height: 256px;

}
.rating{
    display: flex;
    align-items: center;
}
.fa-star{
    color:orange;
    margin-left: 0%;
}
.fa{
    color: orange;
}
.three-p{
    margin:0;
    
}
.butn-two{
    text-align: end;
    margin-right: 35px;
    margin-top: 50px;
    margin-bottom: 100px;
}
.secnd{
    color:orange;
    background-color: white;
    border:white;
    font-weight: bold;
    text-align: end;
    font-size: 16px;
}

/*----section four-*/
.fouth-section{
    display:flex;
    justify-content: space-between;
}
.fouth-section img{
    width:404px;
    height:270px;
}
.flxi-right{
    width:670px;
    margin-left: 96px;
}
.fouth-sec-paragraph{
    margin-top:16px;
}
.third{
    border:orange;
    color:white;
    border-radius: 0%;
    width:135px;
    height:44px;
    align-items: center;
    margin-top: 16px;
}
.fa-arrow-right-long{
    color:white;
    font-size: medium;
    margin-left: 15px;
    align-items: 0%;
}


/*-----footer---------*/
footer{
    background-color: rgb(157, 130, 74);

}
.foot-section{

    color:white;
    text-align: center;
    align-items: center;
    margin-top: 50px;


}
.foot-section h2{
    margin-top: 50px;
}
.foot-container img{
    height: 15px;
    width: 18px;
    margin-bottom: 50px;
}